* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bz-blocks-height: 70px;
    background-image: linear-gradient(#009688 20%, #DCDBD2 20%);
}

.debug * {
    /* border: 1px dashed black; */
}

.debug {
    .user_profile {
        background-color: palevioletred;
    }

    .notifications {
        background-color: palegreen;
    }

    .search {
        background-color: palegoldenrod;
    }

    .contacts_list {
        background-color: paleturquoise;
    }


    .contact_profile {
        background-color: palevioletred;
    }

    .chat {
        background-color: deepskyblue;

        >div {
            width: 300px;
        }
    }

    .prompt {
        background-color: deeppink;
    }
}



body {
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #DCDBD2 20%);
    overflow: hidden;


}



#app {
    height: 95vh;
    margin: 1rem auto 2rem;
    max-width: 1200px;
    display: flex;

    @media (max-width: 991px) {
        height: 100%;
        margin: 0;
    }


    .left {
        width: 320px;
        height: 100%;



        &>div:not(:nth-child(4)) {
            height: var(--bz-blocks-height);
        }

        &> :nth-child(4) {
            height: calc(100% - (var(--bz-blocks-height) * 3));
            overflow-y: scroll;
        }



        @media screen and (max-width: 991px) {
            width: 120px;

            &>.notifications,
            &>.search {
                display: none;
            }

            &>.contacts_list {
                height: calc(100% - 70px);
            }


            .list-profile{
                display: none;
            }
            .img-link-user{
                display: flex;
                justify-content: center;
            }



        }

        @media screen and (max-width: 540px) {
            display: none;
        }



    }

    .right {
        flex-grow: 1;


        >.contact_profile,
        >.prompt {
            height: 70px;
        }

        >.chat {
            height: calc(100% - 140px);
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            &>div {
                min-height: 140px;
            }

            >.sent {
                align-self: flex-end;
            }

            >.received {
                align-self: flex-start;
            }

        }


    }

}


.img-link-user {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}



.list-profile {
    list-style: none;
    display: flex;
}

.list {
    text-decoration: none;
    color: grey;
    padding: 10px;
}


.img-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 50%;
}


.p-10 {
    padding: 5px;
}

.link-contact{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    
}



.contact_profile{
    display: flex;

}


.img{
    border-radius: 2rem;
}


#c-gray{
    color: grey;
}